/* Add this to your existing styles or create a new stylesheet */
body {
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .text-4xl {
    font-size: 2.5rem;
  }
  
  .bg-indigo-700 {
    background-color: #4a5568;
  }
  
  .grid {
    display: grid;
  }
  
  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .bg-gray-800 {
    background-color: #2d3748;
  }
  
  .text-xl {
    font-size: 1.5rem;
  }
  
  .text-gray-400 {
    color: #cbd5e0;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .shadow-lg {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .mb-8 {
    margin-bottom: 2rem;
  }
  
  /* Add responsive styles as needed */
  @media screen and (max-width: 640px) {
    .grid-cols-1,
    .grid-cols-2,
    .grid-cols-3,
    .grid-cols-4 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  